
.header{
  background-color: black;
  display: flex;
  color: white;
  justify-content:space-between;
  align-items: center;
  /* justify-items:center; */
}
.header-div{
  display: flex;
  align-items: center;
}
.header-div ul li{
  list-style-type: none;
}
.header-div ul li a{
  text-decoration: none;
  
}

.nav ul {
  display: flex;
  list-style: none;
  color:white;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
  



.nav ul li{
  margin-left: 1em;
  margin-right: 1em;
}
.nav ul li a:last-child{
     margin-right: 0;
     margin-left: auto;
     
}

.nav ul li a{
  text-decoration: none;
}
 
 h2{
  text-align: center;
 }

  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    /* align-items: flex-start; */
    justify-content: center;
    /* grid-template-rows: auto, 1fr; */
  }
  
  .card {
    --padding: 1rem;
    background: white;
    border: 1px solid #777;
    border-radius: .25rem;
    overflow: hidden;
  }
  
  .card.card-shadow {
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  }
  
  .card-header {
    font-size: 1.5rem;
    padding: var(--padding);
    padding-bottom: 0;
    margin-bottom: .5rem;
  }
  
  .card-header.card-image {
    padding: 0;
    overflow: hidden;
  }
  
  .card-header.card-image > img {
    display: block;
    width: 100%;
    max-height: 200px;
    
    object-fit: contain;
    object-position: center;
    
     
  }
  
 
  
  .card-body {
    font-size: .9rem;
    padding: 0 var(--padding);
    max-height: 20px;
  }
  
  .card-footer {
    margin-top: 1rem;
    
    padding: var(--padding);
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    --color: hsl(200, 50%, 50%);
    background: var(--color);
    color: white;
    border: none;
    font-size: 1rem;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
    
  }
  
  .btn:hover, .btn:focus {
    background: hsl(200, 50%, 60%);
  }
  
  .btn.btn-outline {
    background: none;
    border: 1px solid var(--color);
    color: var(--color);
  }
  
  .btn.btn-outline:hover, .btn.btn-outline:focus {
    background: hsl(200, 50%, 90%);
  }
  
  .btn + .btn {
    margin-left: .25rem;
  }